- if signed_in?
  %li.comment#author-comment
    .avatar
      = link_to '#' do
        = image_tag("http://lorempixel.com/100/100/nature/#{rand(8)}", :class => 'avatar--img')
    = simple_form_for [@user, @comment] do |f|
      %h2 Leave a Comment
      = f.input :body
      = f.button :submit
- else
  %p Please sign up to leave a comment.
