.wrapper
  #clearance.sign-up
    %h2= t('.title')
    = simple_form_for @user do |f|
      = f.error_notification
      .form-inputs
        = f.input :email
        = f.input :username
        = f.input :password
      .form-actions
        = f.button :submit
