- present @user do |user_presenter|
  %section.user-info
    .wrapper
      .avatar
        = link_to '#' do
          = image_tag(user_presenter.avatar.url, :class => 'avatar--img')
      .user-meta
        %h3 #{@user.username}
        = user_presenter.url
        = user_presenter.email
        = user_presenter.location
      .stat
        %span +
        %span.value 2.85%
        %span.measure rates vs avg
      .trophies
        =image_tag('ribbon.png')

  %section.full-feature

  %section.submissions
    .wrapper
      %h2 Recent Submissions
      %ol.thumbs
        = render @user.submissions.filtered_trash_for(current_user).limit(3)

  %section.comments
    .wrapper
      %h2 User Comments
      %ol
        = render :partial => 'users/comment',
          collection: @user.comments
        = render partial: 'users/comment_form'
