%section.user-info
  .wrapper
    .avatar
      .img-wrap
        = link_to '#' do
          = image_tag('http://lorempixel.com/100/100/people/1')
          .img-shadow
    .user-meta
      .h3 #{@user.username}
      %span
        %i.ss-icon world
        =link_to 'http://nuance.io', 'http://nuance.io'
      %span
        %i.ss-icon send
        =link_to 'christian@nuance.io', 'mailto:christian@nuance.io'
      %span
        %i.ss-icon location
        Charlotte, NC
    .stat
      %span +
      %span.value 2.85%
      %span.measure rates vs avg
    .trophies
      =image_tag('ribbon.png')

%section.full-feature

%section.submissions
  .wrapper
    %h2 Recent Submissions
    %ol.thumbs
      = render partial: 'shared/submission', collection: @user.recent_submissions(3)

%section.comments
  .wrapper
    %h2 User Comments
    %ol
      - 3.times.each do
        %li.comment
          .avatar
            .img-wrap
              = link_to '#' do
                = image_tag("http://lorempixel.com/100/100/nature/#{rand(8)}")
                .img-shadow
          .comment-chip
            .comment-details
              %h3= link_to 'fate0000', '#'
              %span.meta= '20 minutes ago'
              .comment-details-action-menu
                = link_to '<i class="ss-icon">delete</i>'.html_safe, 'javascript:void(0)', id: 'action-delete-comment'
            .comment-body
              %p Oh hey thurr.
      %li.comment
        .avatar
          .img-wrap
            = link_to '#' do
              = image_tag("http://lorempixel.com/100/100/nature/#{rand(8)}")
              .img-shadow
        %form
          %h2 Leave a Comment
          %textarea
          %input{:type => 'submit', :value => 'Comment'}
