%li.thumb.submission-preview
  .img-wrap
    = link_to submission_path(submission) do
      = image_tag("http://lorempixel.com/360/225/nature/#{rand(8)}")
      .img-shadow
  .identity
    %p.title= link_to(submission.title, submission_path(submission))
    %p.author
      by
      = link_to(submission.user.username, user_path(submission.user))
  .stats
    -# Might use jquery sparklines instead
    - values = 10.times.map { rand(1..100) }
    %span.boxplot= "#{values.join(',')}"
    %span.average-rating= rand(10000)/100.00
