- present submission do |submission_presenter|
  %li.thumb.submission-preview
    .img-wrap
      = link_to submission_path(submission_presenter) do
        = image_tag("http://lorempixel.com/360/225/nature/#{rand(8)}")
        .img-shadow
    .identity
      %p.title= link_to(submission_presenter.title, submission_path(submission))
      %p.author
        by
        = link_to(submission_presenter.user.username, user_path(submission_presenter.user))
    .stats
      %span.boxplot= submission_presenter.boxplot_ratings
      %span.average-rating= submission_presenter.average_rating
