- if @submissions.present?
  - @submissions.each do |submission|
    %tr
      %td= submission.title
      %td= link_to 'Show', submission
      %td= link_to 'Edit', edit_submission_path(submission)
      %td= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' }

  %h2 Recent Submissions

  %ol.thumbs
    - 16.times.each do
      %li.thumb
        = link_to image_tag("http://lorempixel.com/360/225/nature/#{rand(8)}"), '#'
- else
  %p There are no submissions yet!

= link_to 'New Submission', new_submission_path
