%section.featured
  .wrapper
    .thumb
      .img-wrap
        = link_to '#' do
          = image_tag('http://lorempixel.com/1200/400/abstract/3')
          .img-shadow

%section.submissions
  .wrapper
    %h2 Recent Submissions
    -# TODO: Possible move this into a helper or presenter
    - if @submissions.present?
      %ol.thumbs
        = render partial: 'shared/submission', collection: @submissions
    - else
      %p There are no submissions yet!

    = paginate @submissions

%section.forums
  .wrapper
    %h2 In the Forums
    %ol.forum-posts
      - 6.times.each do |n|
        %li.forum-post
          .avatar
            .img-wrap
              = link_to '#' do
                = image_tag("http://lorempixel.com/100/100/people/#{n}")
                .img-shadow
          %hgroup
            %h5 
              = link_to "Building myself a website", "#"
            %p Loving the colors, icons, and logo. A few thoughts: ...

= link_to 'New Submission', new_submission_path
