- @submissions.each do |submission|
  %tr
    %td= submission.title
    %td= link_to 'Show', submission
    %td= link_to 'Edit', edit_submission_path(submission)
    %td= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' }

%section.featured
  .wrapper
    .thumb
      .img-wrap
        = link_to '#' do
          = image_tag('http://lorempixel.com/1200/400/abstract/3')
          .img-shadow

%section.submissions
  .wrapper
    %h2 Recent Submissions
    %ol.thumbs
      - 16.times.each do
        %li.thumb
          .img-wrap
            = link_to '#' do
              = image_tag('http://lorempixel.com/360/225/nature/1')
              .img-shadow
          %p.title
            <a href="#">Ants go marching</a> 
          %p.author
            by <a href="#">akka</a>

= link_to 'New Submission', new_submission_path
