%li.review
  .avatar
    .img-wrap
      = link_to '#' do
        = image_tag('http://lorempixel.com/100/100/nature/1')
        .img-shadow
  .comment-chip
    .comment-details
      %h3= link_to review.user.username, user_path(review.user)
      %span.meta= time_ago_in_words(review.created_at)
      .comment-details-action-menu
        = link_to '<i class="ss-icon">delete</i>'.html_safe, 'javascript:void(0)', id: 'action-delete-comment'
    .comment-body

      .arrows
        %i.ss-icon.arrow up
        %i.ss-icon.arrow down
      %p= review.comment
  %h4.rating= review.rating
