%li.review
  .avatar
    .img-wrap
      = link_to '#' do
        = image_tag('http://lorempixel.com/100/100/nature/1')
        .img-shadow
  .comment-body
    %h2= link_to review.user.username, user_path(review.user)
    %p= review.comment
    %span.meta= review.created_at.to_formatted_s(:pf_long)
    %span.delete= link_to("Delete Review", submission_review_path(submission_id: review.submission, id: review), method: :delete)
