- present @submission do |submission_presenter|
  %section.submission
    .wrapper
      .submission-title-section
        .vcard
          .avatar
            .img-wrap
              = link_to '#' do
                = image_tag('http://lorempixel.com/100/100/nature/1')
                .img-shadow
          .byline
            %p.title
              = "#{submission_presenter.title} by "
              = link_to submission_presenter.user.username, user_path(submission_presenter.user)
            %span.date
              = submission_presenter.created_at.to_formatted_s(:pf_long)
        .action-menu
          = link_to '&#9776;'.html_safe, 'javascript:void(0);', :class => 'dropdown', :id => 'dropdown'
          .dropdown-menu
            %ul
              %li
                = link_to '#' do
                  Trash
                  %i.ss-icon trash
              %li
                = link_to '#' do
                  Edit
                  %i.ss-icon edit
              %li
                = link_to '#' do
                  Feature
                  %i.ss-icon bookmark
              %li
                = link_to '#' do
                  Moderate
                  %i.ss-icon delete
      .thumb
        .img-wrap
          = link_to '#' do
            = image_tag('http://placekitten.com/1280/768')
            .img-shadow
      .submission-details
        .notes
          %h2 Artist Notes
          %p= submission_presenter.description
        .meta
          %ol
            %li
              %i.ss-icon comment
              = submission_presenter.number_of_reviews
            %li
              %i.ss-icon eye
              = submission_presenter.views
            %li
              %i.ss-icon download
              = submission_presenter.downloads
            %li
              %i.ss-icon barchart
              = "User Rating: #{submission_presenter.average_rating}"
            = submission_presenter.featured_at
  %section.comments
    .wrapper
      %ol
        = render partial: 'submissions/review', collection: submission_presenter.reviews
        %li 
          - if current_user.present?
            .avatar
              .img-wrap
                = link_to '#' do
                  = image_tag('http://lorempixel.com/100/100/nature/5')

            = simple_form_for [submission_presenter, @review] do |f|
              %h2 Leave a Review
              = f.input :rating
              = f.input :comment
              = f.button :submit
          - else
            %p Please sign up to leave a review.

:javascript
  $("#dropdown").click(function (e) { // binding onclick
  if ($(this).hasClass('selected')) {
    $('.dropdown-menu').css('display', 'none'); // hiding popups
      $(this).removeClass("selected");
    } else {
      $(this).addClass("selected"); // display popup
      $('.dropdown-menu').css('display', 'block');
    }
    e.stopPropagation();
  });

  $("html").click(function () { // binding onclick to body
    $('.dropdown-menu').css('display', 'none'); // hiding popups
      $('#dropdown').removeClass("selected");
  });
