%p#notice= notice

%h1= @submission.title
%p= @submission.description

= simple_form_for [@submission, @review] do |f|
  = f.input :rating
  = f.input :comment
  = f.button :submit

- @submission.reviews.each do |review|
  %p= "#{review.rating}"
  %p= "#{review.comment}"

= link_to 'Edit', edit_submission_path(@submission)
\|
= link_to 'Back', submissions_path
