%section.submission
  .wrapper
    .vcard
      .avatar
        .img-wrap
          = link_to '#' do
            = image_tag('http://lorempixel.com/100/100/nature/1')
            .img-shadow
      .byline
        %p.title
          = "#{@submission.title} by "
          = link_to @submission.user.username, user_path(@submission.user)
        %span.date
          = @submission.created_at
          -# May 23, 2013
    .thumb
      .img-wrap
        = link_to '#' do
          = image_tag('http://placekitten.com/1280/768')
          .img-shadow

%section.comments
  .wrapper
    %ol
      = render partial: 'submissions/review', collection: @submission.reviews
      %li 
        - if current_user.present?
          .avatar
            .img-wrap
              = link_to '#' do
                = image_tag('http://lorempixel.com/100/100/nature/5')

          = simple_form_for [@submission, @review] do |f|
            %h2 Leave a Review
            = f.input :rating
            = f.input :comment
            = f.button :submit
        - else
          %p Please sign up to leave a review.
