- present @submission do |submission_presenter|
  %section.submission
    .wrapper
      .submission-title-section
        .vcard
          .avatar
            = link_to '#' do
              = image_tag('http://lorempixel.com/100/100/nature/1', :class => 'avatar--img')
          .byline
            %p.title
              = "#{submission_presenter.title} by "
              = link_to submission_presenter.user.username, user_path(submission_presenter.user)
            %span.date
              = submission_presenter.created_at.to_formatted_s(:pf_long)
        .action-menu
          = link_to '&#9776;'.html_safe, '#', "data-dropdown" => '#dropdown-1'
        #dropdown-1.dropdown.dropdown-tip.dropdown-anchor-right
          %ul.dropdown-menu
            %li
              = link_to '#' do
                Trash
                -#%i.ss-icon trash
            %li
              = link_to '#' do
                Edit
                -#%i.ss-icon edit
            %li.dropdown-divider
            %li
              = link_to '#' do
                Feature
                -#%i.ss-icon bookmark
            %li
              = link_to '#' do
                Moderate
                -#%i.ss-icon delete

      .thumb_submission
        .thumb--img-wrap
          = link_to '#' do
            = image_tag('http://placekitten.com/1280/768')
      .submission-details
        .notes
          %h2 Artist Notes
          %p= submission_presenter.description
        .meta
          %ol
            %li
              %i.ss-icon comment
              = submission_presenter.number_of_reviews
            %li
              %i.ss-icon eye
              = submission_presenter.views
            %li
              %i.ss-icon download
              = submission_presenter.downloads
            %li
              %i.ss-icon barchart
              = "User Rating: #{submission_presenter.average_rating}"
            = submission_presenter.featured_at
  %section.comments
    .wrapper
      %ol
        = render partial: 'submissions/review', 
                 collection: submission_presenter.reviews
        %li.review
          = render :partial => 'submissions/review_form'

:javascript

  var paper = Raphael("draw", 36, 36);

  paper.customAttributes.arc = function (xloc, yloc, value, total, R) {
      var alpha = 360 / total * value,
          a = (90 - alpha) * Math.PI / 180,
          x = xloc + R * Math.cos(a),
          y = yloc - R * Math.sin(a),
          path;
      if (total == value) {
          path = [
              ["M", xloc, yloc - R],
              ["A", R, R, 0, 1, 1, xloc - 0.01, yloc - R]
          ];
      } else {
          path = [
              ["M", xloc, yloc - R],
              ["A", R, R, 0, +(alpha > 180), 1, x, y]
          ];
      }
      return {
          path: path
      };
  };

  //make an arc at 18,18 with a radius of 17 that grows from 0 to rating of 100 with a bounce
  var full_arc = paper.path().attr({
      "stroke": "#aaa",
      "stroke-width": 1,
      arc: [18, 18, 100, 100, 17]
  })
  var my_arc = paper.path().attr({
      "stroke": "#333",
      "stroke-width": 2,
      arc: [18, 18, 0, 100, 17]
  });

  my_arc.animate({
      arc: [18, 18, rating, 100, 17]
  }, 2500, "bounce");


