- present @submission do |submission_presenter|
  %section.submission
    .wrapper
      .submission-title-section
        .vcard
          .avatar
            = link_to '#' do
              = image_tag('http://lorempixel.com/100/100/nature/1', :class => 'avatar--img')
          .byline
            %p.title
              = "#{submission_presenter.title} by "
              = link_to submission_presenter.author.username, 
                user_path(submission_presenter.author),
                class: "highlight"
            %span.date
              = submission_presenter.created_at.to_formatted_s(:pf_long)
        .action-menu
          = link_to '&#9776;'.html_safe, '#', "data-dropdown" => '#dropdown-1'
        #dropdown-1.dropdown.dropdown-tip.dropdown-anchor-right
          %ul.dropdown-menu
            - if policy(@submission).edit?
              %li= trash_toggle(@submission)
              %li= link_to "Edit", edit_submission_path(@submission)
            %li.dropdown-divider
            %li= link_to "Feature", admin_new_feature_path(@submission)
            %li= link_to "Moderate", '#'

      .thumb_submission
        .thumb--img-wrap
          = link_to submission_presenter.preview.url do
            = image_tag submission_presenter.preview.url
      .submission-details
        .notes
          %h2 Artist Notes
          %p= submission_presenter.description
        .meta
          %ol
            %li
              %i.ss-icon download
              - if @submission.attachment?
                = link_to 'Download', @submission.attachment.url, html_options: { class: 'download' }
            %li
              %i.ss-icon comment
              = submission_presenter.number_of_reviews
            %li
              %i.ss-icon eye
              = submission_presenter.views
            %li
              %i.ss-icon download
              = submission_presenter.downloads
            %li#reviews-average
              %i.ss-icon barchart
              User Rating:
              = submission_presenter.average_rating
            = submission_presenter.featured_at
  %section.comments
    .wrapper
      %ol
        = render submission_presenter.reviews
        %li.review
          = render :partial => 'reviews/review_form'

