- present @submission do |submission_presenter|
  %section.submission
    .wrapper
      #draw
        %h1 50
      .submission-title-section
        .vcard
          .avatar
            .img-wrap
              = link_to '#' do
                = image_tag('http://lorempixel.com/100/100/nature/1')
                .img-shadow
          .byline
            %p.title
              = "#{submission_presenter.title} by "
              = link_to submission_presenter.user.username, user_path(submission_presenter.user)
            %span.date
              = submission_presenter.created_at.to_formatted_s(:pf_long)
        .action-menu
          = link_to '&#9776;'.html_safe, 'javascript:void(0);', :class => 'dropdown', :id => 'dropdown'
          .dropdown-menu
            %ul
              %li
                = link_to '#' do
                  Trash
                  %i.ss-icon trash
              %li
                = link_to '#' do
                  Edit
                  %i.ss-icon edit
              %li
                = link_to '#' do
                  Feature
                  %i.ss-icon bookmark
              %li
                = link_to '#' do
                  Moderate
                  %i.ss-icon delete
      .thumb
        .img-wrap
          = link_to '#' do
            = image_tag('http://placekitten.com/1280/768')
      .submission-details
        .notes
          %h2 Artist Notes
          %p= submission_presenter.description
        .meta
          %ol
            %li
              %i.ss-icon comment
              = submission_presenter.number_of_reviews
            %li
              %i.ss-icon eye
              = submission_presenter.views
            %li
              %i.ss-icon download
              = submission_presenter.downloads
            %li
              %i.ss-icon barchart
              = "User Rating: #{submission_presenter.average_rating}"
            = submission_presenter.featured_at
  %section.comments
    .wrapper
      %ol
        = render partial: 'submissions/review', collection: submission_presenter.reviews
        %li.review
          - if current_user.present?
            .avatar
              .img-wrap
                = link_to '#' do
                  = image_tag('http://lorempixel.com/100/100/nature/5')
            = simple_form_for [submission_presenter, @review] do |f|
              %h2 Leave a Review
              = f.input :rating, :placeholder => '0 - 100'
              = f.input :comment
              = f.button :submit
          - else
            %p Please sign up to leave a review.

:javascript
  $("#dropdown").click(function (e) { // binding onclick
  if ($(this).hasClass('selected')) {
    $('.dropdown-menu').css('display', 'none'); // hiding popups
      $(this).removeClass("selected");
    } else {
      $(this).addClass("selected"); // display popup
      $('.dropdown-menu').css('display', 'block');
    }
    e.stopPropagation();
  });

  $("html").click(function () { // binding onclick to body
    $('.dropdown-menu').css('display', 'none'); // hiding popups
      $('#dropdown').removeClass("selected");
  });


  //var amount = prompt("How much of the circle to draw? (0-100)", "50");
  var amount = 50;
  var paper = Raphael("draw", 120, 120);

  paper.customAttributes.arc = function (xloc, yloc, value, total, R) {
      var alpha = 360 / total * value,
          a = (90 - alpha) * Math.PI / 180,
          x = xloc + R * Math.cos(a),
          y = yloc - R * Math.sin(a),
          path;
      if (total == value) {
          path = [
              ["M", xloc, yloc - R],
              ["A", R, R, 0, 1, 1, xloc - 0.01, yloc - R]
          ];
      } else {
          path = [
              ["M", xloc, yloc - R],
              ["A", R, R, 0, +(alpha > 180), 1, x, y]
          ];
      }
      return {
          path: path
      };
  };

  //make an arc at 50,50 with a radius of 30 that grows from 0 to 40 of 100 with a bounce
  var full_arc = paper.path().attr({
      "stroke": "#000",
      "stroke-width": 1,
      arc: [60, 60, 100, 100, 59]
  })
  var my_arc = paper.path().attr({
      "stroke": "#fcc302",
      "stroke-width": 2,
      arc: [60, 60, 0, 100, 59]
  });

  my_arc.animate({
      arc: [60, 60, amount, 100, 59]
  }, 1500, "bounce");


