%p#notice= notice

%h1= @submission.title
%p= @submission.description

= form_for [@submission, @review] do |f|
  %p
    = f.label :rating
    = f.text_field :rating
  %p
    = f.label :comment
    = f.text_area :comment
  %p
    = f.submit

= link_to 'Edit', edit_submission_path(@submission)
\|
= link_to 'Back', submissions_path
