%section.submissions
  .wrapper
    %h1 Manage Categories
    %table.categories
      %thead
        %th Name
        %th Slug
        %th Submissions
        %th Manage
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td= category.slug
            %td= category.submissions.size
            %td
              %ul.manage-nav.ss-icon
                %li= link_to 'Edit', edit_admin_category_path(category)
                %li= link_to 'Delete', "#"
