#review-form-holder
  - if signed_in?
    .avatar
      = link_to '#' do
        = image_tag('http://lorempixel.com/100/100/nature/5', :class => 'avatar--img')
    = simple_form_for [@submission, @review] do |f|
      %h2 Leave a Review
      = f.input :rating, :placeholder => '0 - 100'
      = f.input :comment
      = f.button :submit
  - else
    %p Please sign up to leave a review.
