%li.review{id: "#{review.selector}"}
  .avatar
    = link_to '#' do
      = image_tag('http://lorempixel.com/100/100/nature/1', :class => 'avatar--img')
  .comment-chip
    .comment-details
      %h3= link_to review.author.username, user_path(review.author)
      %span.meta= time_ago_in_words(review.created_at)
      .comment-details-action-menu
        = link_to '<i class="ss-icon">delete</i>'.html_safe, 'javascript:void(0)', id: 'action-delete-comment'
    .comment-body

      = render :partial => 'votes/voter', locals: {votable: review}
      %p= review.comment
  #draw
    %h4.rating= review.rating
:javascript
  var rating = #{review.rating};

