%tr
  %td= image_tag("http://lorempixel.com/90/90/nature/#{rand(8)}")
  %td= feature.submission.title
  %td= feature.description
  %td= feature.author
  - if policy(feature).update?
    %td
      %ul.manage-nav.ss-icon
        %li= link_to 'Edit', edit_admin_feature_path(feature)
        %li= link_to 'Delete', admin_feature_path(feature), id: "delete", method: :delete, data: { confirm: "Are you sure you want to delete this feature?" }

