%h1.brand
  = link_to "PixelPeddlers", root_path
%nav.main-nav
  %ul.main
    %li
      = link_to 'Browse', 'javascript:void(0);', :id => 'browseToggle'
    -# %li
    -#   = link_to 'Forums', '#'
    -# %li
    -#   = link_to 'News', '#'
    %li
      = link_to 'Chat', '#'

#searchToggle.search
  %i.ss-icon search

%nav.account
  .account-dropdown
    - if signed_in?
      -# TODO: Clean this up
      - if current_user.avatar?
        .avatar
          = link_to current_user do
            = image_tag(current_user.avatar.url(:thumb), :class => 'avatar--img')
      -else
        .avatar.placeholder
          %i.ss-icon user
      %ul.account-dropdown-list
        %li.account-dropdown-item
          = link_to edit_user_path(current_user) do
            %i.ss-icon settings
            Settings
        %li.account-dropdown-item
          = link_to new_submission_path do
            %i.ss-icon upload
            Submit
        %li.account-dropdown-item
          = link_to '#' do
            %i.ss-icon inbox
            Activity
        - if current_user.admin?
          %li.account-dropdown-item
            = link_to admin_path do
              %i.ss-icon star
              = t(".menu.admin")
        %li.account-dropdown-item
          = link_to sign_out_path, :method=>'delete' do
            %i.ss-icon logout
            Sign Out
    - else
      .avatar.placeholder
        %i.ss-icon user
      %ul.account-dropdown-list
        %li.account-dropdown-item
          = link_to 'Login', sign_in_path, :class=> 'login'
        %li.account-dropdown-item
          = link_to 'Register', sign_up_path, :class => 'register'
