!!!
%html{ "ng-app" => "FixelPuckers" }
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Pf"
      %meta{:content => content_for?(:description) ? yield(:description) : "Pf", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/messages'
    %header
      .wrapper
        = render 'layouts/navigation'
      = render 'layouts/filter'
    #main{:role => "main"}
      = yield
    %footer
    / ! end of #container
